<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <!-- Navbar -->
    <div class="topnav" id="myTopnav">
        <a href ="" class="active">Home</a>
        <a href="/customers">Customers Detials</a>
        <a href="/this">Transaction History</a>
        </div>

        <h1>The Foundation Bank</h1>
        <p class="text">Welcome to the foundation bank. Here you can see all the people having an account
             in our bank with their credits enrolled. You can transfer credits from one person to another
             with the help of few click. 
        </p>
        <ul class="text">
            <li>A Moments of Relationship</li>
                <li>a life full of Simplicity</li> 
                <li> Inspiring the world through Banking</li>
                    <li> Relationship matters</li>
                            <li> a power that Simplifies you</li>
                                <li> You money in Good hands</li>
                                    <li> A Bak which love you most</li>
                                        <li> Imagine the Future</li>
        <button onclick="location.href= '/customers'">Credits transfer</button>
        </ul>




    <!--Footer-->

    <div class="footer">
        <p class="remove">
        © Copyright 2022 Foundation Bank
        </p>
        </div>
</body>
</html>